<section id="hello">
  <div class="row">    
    <div class="col-md-12">
      <article>
        <h3>Why Us</h3>
        <p>
          TGK Consultancy is a consultancy firm engaged in providing accounting services, consultancy services, income tax services. We are also providing services for  services tax matters, sales tax and vat matters.
        </p>
        <p>
          The partners of the firm are well known for their accountability and credibility with an experience of 25 yrs each in the field of commerce.
        </p>
      </article>
    </div>
  </div>
</section>

