<section id="services">
  <div class="row first">
  <h1 class= "text-center">Our Services</h1>
  </div>
  <div class="row second text-center">
    <div class="col-md-4">
      <h3>Online Filling</h3>
      <p>Registrations</p>
      <p>Renewals</p>
      <p>Returns</p>
      <p>Prior Permissions</p>
    </div>
    <div class="col-md-4">
      <h3>FCRA</h3>
      <p>Tax Returns</p>
      <p>Sales Tax</p>
      <p>Vat</p>
      <p>Tax deduction at source</p>
    </div>
    <div class="col-md-4">
      <h3>Societies and Firms</h3>
      <p>Registrations</p>
      <p>Renewals</p>
    </div>
  </div>
  <div class="row third">
    <div class="col-md-6">
      <h3>Digital Signature</h3>
    </br>
    <h3>EPF Schemes</h3>
  </div>
  <div class="col-md-6">
    <h3>Preparation of Accounts in Tally ERP.9 program</h3>
  </div>
</div>
</div>
</section>